<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>


        
</head>
<body>

    <div class="menu">
        <a href="#">All</a>
        <a href="#">Web App</a>
        <a href="#">UI/UX</a>
        <a href="#">Graphics Design</a>
        <a href="#">Mobile App</a>
        <a href="#">Branding</a>
        <a href="#">Marketing</a>
    </div>

    <table border="1" cellpadding="20" cellspacing="10">
        <tr>
            <td align="center"><h1>My Portfolio</h1></td>
        </tr>
        <tr>
            <td>
                <div class="menu">
                <a href="#">All</a>
                <a href="#">Web App</a>
                <a href="#">UI/UX</a>
                <a href="#">Graphics Design</a>
                <a href="#">Mobile App</a>
                <a href="#">Branding</a>
                <a href="#">Marketing</a>
            </div>
             </td>
        </tr>
        <tr>
            <td>Học Web Chuẩn</td>
            <td>Học Web Chuẩn</td>
            <td>Học Web Chuẩn</td>
        </tr>
        <tr>
            <td>Học Web Chuẩn</td>
            <td>Học Web Chuẩn</td>
            <td>Học Web Chuẩn</td>
        </tr>
        <tr>
            <td>Học Web Chuẩn</td>
            <td>Học Web Chuẩn</td>
            <td>Học Web Chuẩn</td>
        </tr>
    </table>

</body>
</html>