<table border="1">
    <tr>
        <td colspan="2">1-2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td colspan="2" rowspan="2">9-10-14-15</td>
        <!-- ô 10 & 14 & 15 bị gộp -->
    </tr>
    <tr>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <!-- ô 14 & 15 bị gộp -->
    </tr>
    <tr>
        <td>16</td>
        <td>17</td>
        <td rowspan="2" colspan="2">18-23</td>
        <td>19</td>
        <td>20</td>
    </tr>
    <tr>
        <td>21</td>
        <td>22</td>
        <td>24</td>
        <td>25</td>
    </tr>
</table>
